/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography - this is an example, you can customize fonts as needed */
body, html {
  min-height: 100vh; /* This ensures that the page takes up at least the height of the viewport */
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}
a{
  text-decoration: none;
}
/* Header and Navigation */
header {
  background: var(--cool-gray-westgray-10, #D0D6D8);
  padding: 8px 0;
}

/* Navigation Bar Styling */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 0.5em;
  background: var(--default-west-white, #FBFBFB);
}

nav ul {
  list-style-type: none;
  display: flex;
}



nav .nav-item {
  color: var(--Primay-West00, #1F2B33);
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 48px */
}
nav .menu-icon{
    margin-right: 20px;
    height: 36px;
}

nav .menu-icon-contact{
  margin-left: 10px;
}
nav .glass{
  margin-left: 50px;
}

/* Logo Styling */
#nav-logo {
  height:96px;
  margin-top: -20px;
  display: inline-flex;
align-items: flex-start;
box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.6);
}

/* sub menu style */
.nav-contact a{
  display: flex;
  flex-direction: row;
  padding-right: 20px;
}
.nav-item{
  padding-top:15px;
  position: relative;
  display: inline-block;
}
.nav-topics li:last-child svg{
  padding-top: 10px;
}
.submenu {
  display: none;
  position: absolute;
  left: 0;
  background: var(--default-west-white, #FBFBFB);
}

path { transition: fill .4s ease; }
  /* set fill for before and for during hover */
  .menu-icon     path { fill:var(--Primay-West00, #1F2B33)}
  .menu-icon:hover path { fill:var(--primary-west-90, #3E8BBF)}

.nav-topics:hover  {
  background: var(--cool-gray-westgray-10, #D0D6D8);
}
.nav-topics:hover .submenu {
  display: block;
}
.nav-contact:hover  {
  background: var(--cool-gray-westgray-10, #D0D6D8);
}
.submenu{
  background: var(--default-west-white, #FBFBFB);
  margin-top: 12px;
}
.submenu-item{
  padding: 10px;
}
.submenu-item svg{
  width:8px;
}

.submenu-item a {
  color: var(--Primay-West00, #1F2B33);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 0 0;
  border: none;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 100;
  line-height: 100%; /* 24px */
}

.submenu-item:hover{
  background: var(--cool-gray-westgray-10, #D0D6D8);
}

.nav-contact a{
  text-decoration: none;
}

/* Hero Section */
.hero {
  background-image: url('/Assets/cityscape.webp');
  background-size: cover;
  background-position: center;
  height: 368px;
  flex-shrink: 0;
}

/*main section */

.container {
  display:flex;
  flex-direction: column;
  padding: 96px 196px;
  margin: auto;
  gap:96px;
}

.apply-services {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 48px;
  justify-content:space-around;
}

.apply-service h2{
  display: inline-block;
  color: var(--default-west-white, #FBFBFB);
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: 100%; /* 36px */
margin:10px 0px 50px 0px;
transition: background 0.3s;
}

.icon-box {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  height: 64px;
  width: 360px;
  flex-shrink: 0;
  background: var(--default-west-white, #FBFBFB);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.icon-box svg{
  align-self: center;
  height: 48px;
  width: 48px;
}
.apply-service span{
  align-self: center;
  color: var(--Primay-West00, #1F2B33);
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 100%; /* 40px */
margin-left: 8px;
}
.arrow-box{
  height: 64px;
flex-shrink: 0;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.arrow-box svg{
  background: var(--cool-gray-westgray-10, #D0D6D8);
  width: 64px;
  height:64px;
}
.service-link {
  display: flex;
  color: var(--Primay-West00, #1F2B33);
  text-decoration: none;
  font-size: 18px;
  transition: background 0.3s;
}

.service-link:hover .icon-box {
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.5);
  background: var(--primary-west-60, #55A4D9);
}
.service-link:hover .arrow-box{
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.apply-service h2:hover{
  color: var(--primary-west-60, #55A4D9);
}


.contact{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;

}
.contact h2{
  color: #000;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 140%; /* 64px */
  padding-bottom: 20px;
}

.contact h3{
  color: #000;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; 
  padding: 10px 0px;
}


.contact span{
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  display:inline-block;
  padding:6px;
}

.contact-us, .address{
  width: 600px;
height: 800px;
flex-shrink: 0;
background: #D9D9D9;
padding: 20px 30px;
}




/* Responsive adjustments */
@media (max-width: 600px) {
  .service {
    width: 100%;
  }
}

/* Footer */
footer {
  display: flex;
  padding: 30px 96px 64px;
  flex-direction:column;
  justify-content: center;
  align-items: flex-start;
  gap: 68px;
  flex-shrink: 0;
  flex-wrap: wrap;
  background: var(--primary-west-90, #3E8BBF);
  color: var(--default-west-white, #FBFBFB);
}

.subscribe{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  height: 64px;
align-items: center;
align-self: stretch;
}
.subscribe-logo{
margin-top: -40px;
display: flex;
flex-direction: column;
align-items: flex-start;
}
.subscribe-logo img{
  height:124px !important;
  display: inline-flex;
align-items: flex-start;
box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.6);
}
.email{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-end;
gap: 21.333px;
flex: 1 0 0;
}
.email-container{
  display: flex;
align-items: center;
gap: 21.333px;
}
.email-box{
  display: flex;
height: 64px;
padding: 16px 21.333px;
align-items: center;
gap: 10.667px;
background: var(--default-west-white, #FBFBFB);
box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.email-logo{
  width: 64px;
  height: 64px;
}
.email-logo svg{
  width: 64px;
  height: 64px;
}
.email input{
display: flex;
height: 64px;
padding: 16px 21.333px;
align-items: center;
gap: 10.667px;
background: var(--default-west-white, #FBFBFB);
color: var(--cool-gray-westgray-30, #818884);
font-family: Roboto;
font-size: 21.333px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 29.867px */
border: none;
} 
.email button{
display: flex;
height: 64px;
padding: 21.333px 16px;
justify-content: center;
align-items: center;
border: 2.667px solid var(--primary-west-60, #55A4D9);
box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2);
background: var(--cool-gray-westgray-20, #9B9B8C);
color: var(--default-west-white, #FBFBFB);
font-family: Roboto;
font-size: 21.333px;
font-style: normal;
font-weight: 500;
line-height: 100%; /* 21.333px */
letter-spacing: 0.667px
}
.footer-content-container{
  width: 100%;
  display: flex;
  margin-top: 64px;
  padding: 32px 0px;
  border-top: 2.667px solid var(--cool-gray-westgray-20, #9B9B8C);
  border-bottom: 2.667px solid var(--cool-gray-westgray-20, #9B9B8C);
}
.footer-links{
  display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: flex-start;
gap: 64px;
flex: 1 0 0;
}


.footer-section {
  flex: 1 0 0;
  display: flex;
  padding: 0px 98.667px 0.333px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 22px;
}
.links-section h5{
color: var(--default-west-white, #FBFBFB);
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: 110%; /* 26.4px */
padding-bottom: 20px;
}
.links-section li {
  list-style-type: none;
  display: flex;
  padding-bottom: 10px;
}

.links-section a {
  font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 110%; /* 26.4px */
  color: var(--default-west-white, #FBFBFB);
  text-decoration: none;
}
#city-app img{
  width: 159.552px;
  height: 53.333px;
  justify-content: center;
  align-items: center;
}

/* Address Styling */
address {
  font-style: normal;
  line-height: 1.4;
}


.email button:hover{
  cursor: pointer;
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.4);
  background: var(--cool-gray-westgray-20, #9B9B8C);
  font-size: 21.333px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 21.333px */
  letter-spacing: 0.667px;
  padding: 21.333px 13px;
}
.social-media h5{
  padding-bottom: 10px;
}
#join-us{
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  gap:21.333px;
}
/* Responsive Design */
@media (max-width: 768px) {
  .hero, .top-tasks, .topics, footer {
    width: 100%;
    padding: 50px; /* Adjust padding for smaller screens */
  }
}

/* responsive design for footer*/
@media (max-width: 768px) {
  footer {
    padding: 30px 20px; /* Reduced side padding */
    gap: 20px; /* Reduced gap */
    align-items: center; /* Center align items for smaller screens */
  }

  .subscribe {
    height: auto; /* Since flex-wrap is wrap, the height can be auto */
    gap: 20px; /* Reduced gap */
  }

  .subscribe-logo {
    margin-top: 0; /* Align the logo inside the flex container */
    align-items: center; /* Center align for smaller screens */
    gap: 10px; /* Reduced gap */
  }

  .subscribe-logo img {
    height: auto; /* Adjust image height for smaller screens */
    width: 100%; /* Make the image responsive */
    max-width: 124px; /* Maximum width to maintain aspect ratio */
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.6); /* Adjusted box shadow */
  }

  .email {
    align-items: center; /* Center align items for smaller screens */
  }

  .email-container {
    flex-direction: column; /* Stack elements vertically */
    gap: 10px; /* Reduced gap */
  }

  .email-box,
  .email input,
  .email button {
    width: 100%; /* Full width for smaller screens */
    padding: 16px; /* Adjusted padding */
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2); /* Adjusted box shadow */
  }

  .footer-content-container {
    margin-top: 48px; /* Adjusted margin-top */
    padding: 20px 0; /* Adjusted padding */
  }

  .footer-links {
    flex-direction: row; /* Stacked links vertically */
    gap: 20px; /* Reduced gap */
  }

  .footer-section {
    padding: 0 20px; /* Adjusted padding */
  }

  .links-section h5 {
    font-size: 18px;
    padding-bottom: 15px;
  }
  .links-section li {
    padding-bottom: 8px;
  }

  .links-section a {
    font-size: 14px; /* Adjusted font size */
  }
  #city-app img {
    width: 120px;
    height: 40px;
  }

  .email button:hover {
    font-size: 18px;
    padding: 15px 10px;
  }

  #join-us {
    flex-direction: row;
    gap: 10px;
  }

}
/* Additional Media Queries for further responsive behavior */
@media (max-width: 1200px) {
  .topics, .footer-section {
    flex-direction: column;
    align-items: center;
  }

  nav {
    width: 100%;
    padding: 0 20px;
  }

  .task, .topic {
    width: 100%; 
    text-align: center;
  }

  .footer-section {
    padding: 0 20px;
  }
}

/* You can add more media queries to handle different screen sizes */
