/* sub menu style for Chinese navigation style*/

  
    
    /* sub sub menu style*/
    .subsubmenu{
      display: none;
      position: absolute;
    }
    .subsubmenu li{
      padding: 8px;
    }
    
    /*activities*/
    
    #sub-sub-activities a{
      color: var(--Primay-West00, #1F2B33);
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1 0 0;
      border: none;
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 100;
      line-height: 100%; /* 24px */
    }
    #sub-sub-activities{
      top:0;
      left:100%;
      top:0%;
      background: var(--default-west-white, #FBFBFB);
    }
    #sub-sub-activities{
      width:248px;
    }
    #sub-sub-activities li{
      border-bottom: 2px solid rgba(52,59,64,0.2);
    }
    #sub-activities:hover > #sub-sub-activities{
      display:block;
    }
    #sub-sub-activities > li:hover  {
      background: var(--cool-gray-westgray-10, #D0D6D8);
    }
    @media (max-width: 768px) {
    #sub-sub-activities a{
      color: var(--Primay-West00, #1F2B33);
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1 0 0;
      border: none;
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 100;
      line-height: 100%; /* 24px */
    }
    #sub-sub-activities{
      width:128px;
    }
    #sub-sub-activities li {
      padding: 10px; 
    }
    }
    
    /*education*/
    
    #sub-sub-education a{
      color: var(--Primay-West00, #1F2B33);
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1 0 0;
      border: none;
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 100;
      line-height: 100%; /* 24px */
    }
    #sub-sub-education{
      top:0;
      left:100%;
      top:10%;
      background: var(--default-west-white, #FBFBFB);
    }
    #sub-sub-education{
      width:248px;
    }
    #sub-sub-education li{
      border-bottom: 2px solid rgba(52,59,64,0.2);
    }
    #sub-education:hover > #sub-sub-education{
      display:block;
    }
    #sub-sub-education > li:hover  {
      background: var(--cool-gray-westgray-10, #D0D6D8);
    }
    
    @media (max-width: 768px) {
      #sub-sub-education a{
        color: var(--Primay-West00, #1F2B33);
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1 0 0;
        border: none;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 100;
        line-height: 100%; /* 24px */
      }
      #sub-sub-education{
        width:128px;
      }
      #sub-sub-education li {
        padding: 10px; 
      }
      }
    
    /*environment*/
    
    #sub-sub-environment a{
      color: var(--Primay-West00, #1F2B33);
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1 0 0;
      border: none;
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 100;
      line-height: 100%; /* 24px */
    }
    #sub-sub-environment{
      top:0;
      left:100%;
      top:21%;
      background: var(--default-west-white, #FBFBFB);
    }
    #sub-sub-environment{
      width:248px;
    }
    #sub-sub-environment li{
      border-bottom: 2px solid rgba(52,59,64,0.2);
    }
    #sub-environment:hover > #sub-sub-environment{
      display:block;
    }
    #sub-sub-environment > li:hover  {
      background: var(--cool-gray-westgray-10, #D0D6D8);
    }
    
    @media (max-width: 768px) {
      #sub-sub-environment a{
        color: var(--Primay-West00, #1F2B33);
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1 0 0;
        border: none;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 100;
        line-height: 100%; /* 24px */
      }
      #sub-sub-environment{
        width:128px;
      }
      #sub-sub-environment li {
        padding: 10px; 
      }
      }
    
    /*facts*/
    
    #sub-sub-facts a{
      color: var(--Primay-West00, #1F2B33);
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1 0 0;
      border: none;
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 100;
      line-height: 100%; /* 24px */
    }
    #sub-sub-facts{
      top:0;
      left:100%;
      top:32%;
      background: var(--default-west-white, #FBFBFB);
    }
    #sub-sub-facts{
      width:248px;
    }
    #sub-sub-facts li{
      border-bottom: 2px solid rgba(52,59,64,0.2);
    }
    #sub-facts:hover > #sub-sub-facts{
      display:block;
    }
    #sub-sub-facts > li:hover  {
      background: var(--cool-gray-westgray-10, #D0D6D8);
    }
    
    @media (max-width: 768px) {
      #sub-sub-facts a{
        color: var(--Primay-West00, #1F2B33);
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1 0 0;
        border: none;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 100;
        line-height: 100%; /* 24px */
      }
      #sub-sub-facts{
        width:128px;
      }
      #sub-sub-facts li {
        padding: 10px; 
      }
      }
    
    
    /*health*/
    
    #sub-sub-health a{
      color: var(--Primay-West00, #1F2B33);
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1 0 0;
      border: none;
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 100;
      line-height: 100%; /* 24px */
    }
    #sub-sub-health{
      top:0;
      left:100%;
      top:42%;
      background: var(--default-west-white, #FBFBFB);
    }
    
    #sub-sub-health{
      width:248px;
    }
    #sub-sub-health li{
      border-bottom: 2px solid rgba(52,59,64,0.2);
    }
    #sub-health:hover > #sub-sub-health{
      display:block;
    }
    #sub-sub-health> li:hover  {
      background: var(--cool-gray-westgray-10, #D0D6D8);
    }
    
    @media (max-width: 768px) {
      #sub-sub-health a{
        color: var(--Primay-West00, #1F2B33);
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1 0 0;
        border: none;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 100;
        line-height: 100%; /* 24px */
      }
      #sub-sub-health{
        width:128px;
      }
      #sub-sub-health li {
        padding: 10px; 
      }
      }
    
    /*housing*/
    
    #sub-sub-housing a{
      color: var(--Primay-West00, #1F2B33);
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1 0 0;
      border: none;
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 100;
      line-height: 100%; /* 24px */
    }
    #sub-sub-housing{
      top:0;
      left:100%;
      top:52%;
      background: var(--default-west-white, #FBFBFB);
    }
    #sub-sub-housing{
      width:248px;
    }
    #sub-sub-housing li{
      border-bottom: 2px solid rgba(52,59,64,0.2);
    }
    #sub-housing:hover > #sub-sub-housing{
      display:block;
    }
    #sub-sub-housing> li:hover  {
      background: var(--cool-gray-westgray-10, #D0D6D8);
    }
    
    @media (max-width: 768px) {
      #sub-sub-housing a{
        color: var(--Primay-West00, #1F2B33);
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1 0 0;
        border: none;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 100;
        line-height: 100%; /* 24px */
      }
      #sub-sub-housing{
        width:128px;
      }
      #sub-sub-housing li {
        padding: 10px; 
      }
      }
    
    /*gov*/
    
    #sub-sub-gov a{
      color: var(--Primay-West00, #1F2B33);
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1 0 0;
      border: none;
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 100;
      line-height: 100%; /* 24px */
    }
    #sub-sub-gov ul{
      width:100px;
    }
    #sub-sub-gov{
      width:248px;
    }
    #sub-sub-gov li{
      border-bottom: 2px solid rgba(52,59,64,0.2);
    }
    #sub-sub-gov{
      top:0;
      left:100%;
      top:64%;
      background: var(--default-west-white, #FBFBFB);
    }
    #sub-gov:hover > #sub-sub-gov{
      display:block;
    }
    #sub-sub-gov> li:hover  {
      background: var(--cool-gray-westgray-10, #D0D6D8);
    }
    
    @media (max-width: 768px) {
      #sub-sub-gov a{
        color: var(--Primay-West00, #1F2B33);
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1 0 0;
        border: none;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 100;
        line-height: 100%; /* 24px */
      }
      #sub-sub-gov{
        width:128px;
      }
      #sub-sub-gov li {
        padding: 10px; 
      }
      }
    
    /*life events*/
    
    #sub-sub-life a{
      color: var(--Primay-West00, #1F2B33);
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1 0 0;
      border: none;
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 100;
      line-height: 100%; /* 24px */
    }
    #sub-sub-life ul{
      width:100px;
    }
    #sub-sub-life{
      width:248px;
    }
    #sub-sub-life li{
      border-bottom: 2px solid rgba(52,59,64,0.2);
    }
    #sub-sub-life{
      top:0;
      left:100%;
      top:80%;
      background: var(--default-west-white, #FBFBFB);
    }
    #sub-life:hover > #sub-sub-life{
      display:block;
    }
    #sub-sub-life> li:hover  {
      background: var(--cool-gray-westgray-10, #D0D6D8);
    }
    
    @media (max-width: 768px) {
      #sub-sub-life a{
        color: var(--Primay-West00, #1F2B33);
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1 0 0;
        border: none;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 100;
        line-height: 100%; /* 24px */
      }
      #sub-sub-life{
        width:128px;
      }
      #sub-sub-life li {
        padding: 10px; 
      }
      }
    
    
      /*transportation*/
    
    #sub-sub-trans a{
      color: var(--Primay-West00, #1F2B33);
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1 0 0;
      border: none;
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 100;
      line-height: 100%; /* 24px */
    }
    #sub-sub-trans ul{
      width:100px;
    }
    #sub-sub-trans{
      width:248px;
    }
    #sub-sub-trans li{
      border-bottom: 2px solid rgba(52,59,64,0.2);
    }
    #sub-sub-trans{
      top:0;
      left:100%;
      top:90%;
      background: var(--default-west-white, #FBFBFB);
    }
    #sub-trans:hover > #sub-sub-trans{
      display:block;
    }
    #sub-sub-trans> li:hover  {
      background: var(--cool-gray-westgray-10, #D0D6D8);
    }
    
    @media (max-width: 768px) {
      #sub-sub-trans a{
        color: var(--Primay-West00, #1F2B33);
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1 0 0;
        border: none;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 100;
        line-height: 100%; /* 24px */
      }
      #sub-sub-trans{
        width:128px;
      }
      #sub-sub-trans li {
        padding: 10px; 
      }
      }
    
    /* Ensure the logo scales nicely on smaller screens */
    @media (max-width: 768px) {
      header {
        padding: 4px 0; /* Reduced padding */
      }
    
      nav {
        padding: 0.5em; /* Adjusted padding */
        flex-direction: column; /* Stack the logo and nav items */
        align-items: center; /* Center-align items for a tidy look */
      }
    
      nav .nav-item {
        font-size: 24px; /* Reduce font size */
        line-height: normal;
      }
      nav .nav-item {
        margin-left: 0px;
        margin-top: 10px;
      }
    
      .nav-topics li:last-child svg{
        margin-left: 0px;
        margin-top: -5px;
      }
      nav .menu-icon{
        width: 24px;
      }
      nav svg{
        width: 24px;
      }
      .submenu svg {
        width: 8px !important;/* Smaller SVG width for smaller screens */
        /* Height is auto, so it will scale proportionally */
      }
      .submenu li {
        padding: 4px; 
      }
      .submenu{
        width: 168px !important; 
      }
      .submenu-item a {
        color: var(--Primay-West00, #1F2B33);
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1 0 0;
        border: none;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 100;
        line-height: 100%; /* 24px */
      }
      #nav-logo {
          height: 100px; /* Smaller logo for mobile devices */
          box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.6);
      }
    }