* {
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 1.33333333vw;
  background-color: #eff0f4;
  text-decoration: none;
  font-style: normal;
}
.w,
.title,
.pic,
.menu_btn,
.course_list {
  width: 69.3rem;
  margin: 0 auto;
}
.title {
  display: flex;
  height: 17.5rem;
  justify-content: space-between;
  align-items: content;
}
a {
  text-decoration: none;
  font-style: normal;
  color: #24253d;
  font-size: 5rem;
}
a i {
  color: #999999;
  font-size: 4rem;
}
.pic {
  height: 27.7rem;
  overflow: hidden;
  border-radius: 1rem;
}
.pic img {
  transform: translateY(-50px);
}
.menu_btn {
  margin-top: 4rem;
  margin-bottom: 5rem;
  height: 24.5rem;
  display: flex;
  /*设置flex布局*/
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
}
.menu_btn div {
  width: 32.7rem;
  height: 10.4rem;
  border-radius: 1rem;
}
.menu_btn div a {
  margin-left: 3rem;
  display: block;
  font-size: 2.8rem;
  line-height: 10.4rem;
  color: #ffffff;
  text-align: left;
}
.menu_btn div i {
  font-size: 3rem;
  color: #ffffff;
  margin-right: 3rem;
}
.menu_btn .courses {
  background-color: #f6755f;
}
.menu_btn .star {
  background-color: #d17afd;
}
.menu_btn .subscription {
  background-color: #fe457a;
}
.menu_btn .download {
  background-color: #1d92ff;
}
.course_list {
  height: 39rem;
}
.course_list .course_title {
  height: 6.8rem;
  display: relative;
}
.course_list .course_title .course_latest {
  height: 2.8rem;
  float: left;
}
.course_list .course_title .course_latest .bar {
  width: 0.3rem;
  height: 100%;
  background-color: #3a84ff;
  display: inline-block;
  margin-right: 1.8rem;
}
.course_list .course_title .course_latest span {
  font-size: 3rem;
}
.course_list .course_title a {
  float: right;
  font-size: 2rem;
  color: #656565;
}
.course_list .items_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 0.2rem;
}
.course_list .items_list .items {
  width: 32.9rem;
  height: 32rem;
  box-shadow: 5px 5px 10px #cac8c8;
}
.course_list .items_list .items .items_content {
  margin: 2rem 2rem;
}
.course_list .items_list .items .items_pics {
  width: 28.4rem;
  height: 15.6rem;
  overflow: hidden;
}
.course_list .items_list .items .items_pics img {
  transform: translateX(-50px) translateY(-50px);
}
.course_list .items_list .items .photo_course {
  font-size: 1rem;
  margin: 2.4rem auto;
}
.course_list .items_list .items .person {
  display: relative;
}
.course_list .items_list .items .person .logo {
  display: absolute;
  float: left;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 4.2rem;
  margin-right: 1.8rem;
  overflow: hidden;
}
.course_list .items_list .items .person .logo img {
  transform: translateX(-15px) translateY(-20px);
}
.course_list .items_list .items .person .name {
  display: absolute;
  float: left;
  font-size: 1rem;
  line-height: 4.2rem;
}
